/*CONTACTO*/
.botonera {
    box-shadow: -8px 3px 25px;
    transition: all 1s;
  }
  
  .botonera:hover {
    background-color: rgb(180, 96, 96);
  }
  .contacto {
    font-size: 22px;
  }
  .contacto span {
    font-size: 0%;
    display: block;
  }
  
  .bodyContacto {
    text-align: center;
  }